<div class="col-md-12 text-center">
  <%= image_tag end_user.get_profile_photo(100,100) %>

  <table class="table">
    <thead>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <tr>
        <% if current_end_user != end_user %>
          <td>
            <% if current_end_user.following?(end_user) %>
              <%= link_to "フォローを外す", end_user_follows_path(end_user.id), method: :delete, class: "btn btn-info" %>
            <% else %>
              <%= link_to "フォローする", end_user_follows_path(end_user.id), method: :post, class: "btn btn-success" %>
            <% end %>
          </td>
        <% else %>
          <%= link_to "編集する", edit_information_path(end_user), class: "btn btn-primary ml-2" %>
        <% end %>
      </tr>
      <tr>
        <td>フォロー</td>
        <td><%= link_to end_user.followings.count, followings_end_user_path(end_user) %></td>
      </tr>
      <tr>
        <td>フォロワー</td>
        <td><%= link_to end_user.followers.count, followers_end_user_path(end_user) %></td>
      </tr>
      <tr>
        <td>いいね</td>
        <td><%= link_to end_user.favorites.count, favorites_end_user_path(end_user) %></td>
      </tr>
      <tr>
    	  <td>ユーザー名</td>
    	  <td><%= end_user.end_user_name %></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td><%= end_user.email %></td>
      </tr>
      <tr>
    	  <td>プロフィール紹介</td>
    	  <td><%= end_user.introduction %></td>
      </tr>
    </tbody>
  </table>
</div>