<section class="inner">
	<h2 class="section-ttl">ユーザー情報編集</h2>
	<%= form_with model: @end_user, url: update_information_path(id: @end_user.id) do |f| %>
		<table class="end_user_info end_user_form">
			<thead>
				<th></th>
				<th></th>
				<th></th>
			</thead>

			<tbody>
				<tr>
          <td><%= f.label :profile_photo, "プロフィール写真" %></td>
          <td><%= f.file_field :profile_photo, placeholder: "プロフィール写真", accept: "image/*" %></td>
        </tr>
				<tr>
					<td><%= f.label :name, "ユーザー名" %></td>
					<td><%= f.text_field :name, autocomplete: "end_user_name", :placeholder =>"#{@end_user.end_user_name}" %></td>
				</tr>
				<tr>
					<td><%= f.label :email, "メールアドレス" %></td>
					<td><%= f.email_field :email, autocomplete: "email", :placeholder =>"#{@end_user.email}" %></td>
				</tr>
				<tr>
					<td><%= f.label :introduction, "プロフィール紹介" %></td>
					<td><%= f.text_field :introduction, autocomplete: "introduction", :placeholder =>"#{@end_user.introduction}" %></td>
				</tr>
				<tr>
					<td><%= f.submit "編集内容を保存する", class: "btn btn-success" %></td>
					<td><%= link_to "退会する", confirm_unsubscribe_path, class: "btn btn-danger" %></td>
				</tr>
			</tbody>
		</table>
	<% end %>
</section>