<section class="inner">
	<h2 class="title">マイページ</h2>
		<%= link_to "編集する", edit_information_path(@end_user), class: "btn btn-primary ml2" %>
		<%= link_to "パスワードを変更する", edit_end_user_registration_path, class: "btn btn-success ml2" %>
	<div class="col-md-4 text-center">
 	</div>
	<table class="end_user_info">
			<tr>
				<% if @end_user != current_end_user %>
					<% if current_end_user.following?(@end_user) %>
					  <%= link_to "フォロー外す", end_user_follows_path(@end_user.id), method: :delete %>
			    <% else %>
			      <%= link_to "フォローする", end_user_follows_path(@end_user.id), method: :post %>
			    <% end %>
			  <% end %>
		  </tr>
		  <tr>
		    <%= link_to "フォロー #{@end_user.followings.count} 人", followings_end_user_path(@end_user) %>
		  </tr>
		  <tr>
		    <%= link_to "フォロワー #{@end_user.followers.count} 人", followers_end_user_path(@end_user) %>
		  </tr>
		  <tr>
		  	<%= link_to "いいねした投稿", favorites_end_user_path(@end_user) %>
		  </tr>
		<thead>
			<th></th>
			<th></th>
		</thead>
		<tbody>
			<tr>
				<td>ユーザーネーム</td>
				<td><%= @end_user.end_user_name %></td>
			</tr>

			<tr><%= image_tag avatar_url(@end_user), class: "round-img" %></tr>
			<tr>
				<td>メールアドレス</td>
				<td colspan="2"><%= @end_user.email %></td>
			</tr>
		</tbody>
	</table>
</section>