<section class="wrapper flex">
	<div class="sidebar">
		<h3>ジャンル</h3>
		<%# @genres.each do |genre| %>
			<%#= link_to genre.name, items_path(genre_id: genre.id) %>
		<%# end %>
	</div>
	<div class="content">
		<div class="mv">
			<p>
				ようこそ、 CATPHOTOへ！
			</p>
		</div>
		<li>
		 <%= link_to '投稿フォーム', new_post_path, class: 'nav-link text-dark' %>
		</li>
		<h2 class="section-ttl">新着写真</h2>
		<div class="posts">
			<% @posts.each do |post| %>
				<%= link_to post_path(post) do %>
					<%= image_tag post.get_image %>
					<h5><%#= post.genre.name %></h5>
					<p><%= post.name %></p>
					<p><%= post.introduction %></p>
				<% end %>
			<% end %>
		</div>
	</div>
</section>