<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light py-4 mb-0">新規登録</h5>
      <div class="form-body p-4">

      <% if @end_user.errors.any? %>
        <div id="error_explanation" data-turbo-cache="false">
          <h2>
            <%= I18n.t("errors.messages.not_saved",
                       count: resource.errors.count,
                       resource: resource.class.model_name.human.downcase)
             %>
          </h2>
          <ul>
            <% @end_user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

        <%= form_with model: @end_user, url: registration_path(resource_name), local: true do |f| %>
          <%= render "public/shared/error_messages", resource: resource %>

           <div class="field mb-3">
             <%= f.label :end_user_name, "ユーザー名" %><br />
             <%= f.text_field :end_user_name, autofocus: true, :placeholder =>"user" %>
            </div>

            <div class="field mb-3">
              <%= f.label :email, "メールアドレス" %><br />
              <%= f.email_field :email, autocomplete: "email" %>
            </div>

            <div class="field mb-3">
              <%= f.label :password, "パスワード(#{@minimum_password_length}文字以上)" %><br />
              <%= f.password_field :password, autocomplete: "new-password" %>
            </div>

            <div class="field mb-4">
              <%= f.label :password_confirmation, "パスワード(確認用)" %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>
            <div class="actions mb-4">
              <%= f.submit "新規登録", class: "btn btn-success" %>
            </div>
        <% end %>

    <p><%= link_to "アカウントをお持ちの方はこちらから", new_end_user_session_path %></p>

  </div>
</div>